name: build

on: [ push, workflow_dispatch ]

jobs:
  build:
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, '[no-ci]')"
    env:
      ALLREP_TOKEN: "${{secrets.ALLREP_TOKEN}}"
      TOKEN: "${{secrets.ALLREP_TOKEN}}"
      CI: "true"
    steps:
      - uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v2.5.0
        with:
          java-version: 11
          distribution: zulu

      ################################################################################
      - name: "build"
        run: ./gradlew --info --scan
